<!-- <div *ngIf="!isDashboardLoggedIn">
  <mat-toolbar color="primary">
    <span>My Website</span>
    <span class="spacer"></span>
    <button mat-button color="accent" (click)="onSignIn()">Sign Up</button>
    <button mat-stroked-button color="warn" (click)="onLogin()">Log In</button>
  </mat-toolbar>

  <div class="home-content">
    <h1>Welcome to HR Management System</h1>
    <p>Explore the features and enjoy the experience!</p>
  </div>
</div> -->
<!-- <div *ngIf="!isDashboardLoggedIn">
  <mat-toolbar color="primary">
    <span>My Website</span>
    <span class="spacer"></span>
    <button mat-button color="accent" (click)="onSignIn()">Sign Up</button>
    <button mat-stroked-button color="warn" (click)="onLogin()">Log In</button>
  </mat-toolbar>

  <div class="home-content">
    <h1>Welcome to HR Management System</h1>
    <p>Explore the features and enjoy the experience!</p>
  </div>
</div>

<div *ngIf="isDashboardLoggedIn">
  <mat-toolbar color="primary">
    <span>HR Management System</span>
    <span class="spacer"></span>
    <button mat-stroked-button color="warn" (click)="logout()">Log Out</button>
  </mat-toolbar>

  <div class="dashboard-content">
    <h1>Welcome to the Dashboard</h1>
    <p>Manage employee data and explore analytics!</p>
  </div>
</div> -->

<div *ngIf="!isDashboardLoggedIn && !isDashboardLoggedInq">
  <mat-toolbar color="primary">
    <span>My Website</span>
    <span class="spacer"></span>
    <button mat-button color="accent" (click)="onSignIn()">Sign Up</button>
    <button mat-stroked-button color="warn" (click)="onLogin()">Log In</button>
  </mat-toolbar>

  <div class="home-content">
    <h1>Welcome to HR Management System</h1>
    <p>Explore the features and enjoy the experience!</p>
  </div>
</div>

<div *ngIf="isDashboardLoggedIn">
  <mat-toolbar color="primary">
    <button   class="navbar-button" (click)="home()">HRMS</button> 
    <button class="navbar-button" (click)="createEmployee()">Add Employee</button>
    <button  class="navbar-button" (click)="organization()">Organization</button>
    <span class="spacer"></span>
    <button  class="navbar-button" color="primary" (click)="logout()">Log Out</button>
  </mat-toolbar>
  </div>

<router-outlet></router-outlet>

