<div class="dashboard-container">
    <h2>Profile</h2>
    <div class="user-details">
      <p><strong>Name:</strong> {{ currentUser?.name }}</p>
      <p><strong>Email:</strong> {{ currentUser?.email }}</p>
      <p><strong>Role:</strong> {{ currentUser?.admin ? 'Admin' : 'Employee' }}</p>
      <p><strong>Designation:</strong> {{ currentUser?.designation }}</p> 
      <p><strong>joiningDate:</strong> {{ currentUser?.joiningDate }}</p>
      <p><strong>Phone:</strong> {{ currentUser?.phone }}</p>
    </div>  

     <!-- Left side (Employee Leave Form) -->
     <div class="calendar-container">
      <h2>Apply for Leave</h2>
      <mat-calendar [(selected)]="selectedDate" (selectedChange)="onDateSelect($event)">
      </mat-calendar>
    
      <div class="leave-details">
        <h3>Selected Leave Dates</h3>
        <div *ngIf="leaveDates.length > 0">
          <p><strong>Start Date:</strong> {{ leaveDates[0] | date }}</p>
          <p><strong>End Date:</strong> {{ leaveDates[leaveDates.length - 1] | date }}</p>
        </div>
        <div *ngIf="leaveDates.length === 0">
          <p>No dates selected.</p>
        </div>
    
        <label for="leaveReason">Reason for Leave:</label>
        <textarea id="leaveReason" [(ngModel)]="leaveReason" rows="3" placeholder="Enter reason here"></textarea>
    
        <button mat-raised-button color="primary" (click)="applyLeave()" [disabled]="!canApplyLeave()">
          Apply Leave
        </button>
      </div>
    </div>
    
    
</div>

  